#include <zephyr/dt-bindings/dt-util.h>
#include <zephyr/dt-bindings/adc/adc.h>

#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

#include <dt-bindings/led/led.h> 

&xiao_serial { status = "disabled"; };




/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &matrix_transform0;
        zmk,physical-layout = &physical_layout0;
        zmk,underglow = &led_strip;  // 1. LED制御の対象（アンダーグロー）として登録
        zmk,sensors = <&encoder>;
    };

    // LED電源制御。エンコーダーで使うP1.00をダミーピンとして共有
    ext-power {
        compatible = "zmk,ext-power-generic";
        control-gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>; 
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <24>; //通常のEC11であれば「24」にするのがおすすめです
    };

    encoder: encoder {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // P0.16 (内蔵プルアップON)
        b-gpios = <&gpio1  0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; // P1.00 (内蔵プルアップON)
        steps = <80>; // 1クリックで1回しっかり反応させるためのZMK推奨値（通常の15〜24クリック用）
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        row-gpios
            = <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   //R0	ROW1 	D2    P0.28
            , <&gpio1  1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   //R1	ROW2 	D13   P1.01
            , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   //R2	ROW3 	D3    P0.29
            , <&gpio0  9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   //R3	ROW4 	D14   P0.09
            , <&gpio0  4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   //R4	ROW5 	D4    P0.04
            , <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   //R5	ROW6 	D15   P0.10
            , <&gpio0  5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   //R6	ROW7 	D5    P0.05
            , <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   //R7	ROW8 	D6    P1.11
            , <&gpio1 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   //R9	ROW9 	D7    P1.12
            ;

        col-gpios
            = <&gpio1 13 GPIO_ACTIVE_HIGH>  //L0	COL_C1	D8    P1.13
            , <&gpio1  3 GPIO_ACTIVE_HIGH>  //L1	COL_C2	D17   P1.03
            , <&gpio0  2 GPIO_ACTIVE_HIGH>  //L2	COL_L1	D0    P0.02
            , <&gpio0 15 GPIO_ACTIVE_HIGH>  //L3	COL_L2	D11   P0.15
            , <&gpio0  3 GPIO_ACTIVE_HIGH>  //L4	COL_L3	D1    P0.03
            , <&gpio0 19 GPIO_ACTIVE_HIGH>  //L5	COL_L4	D12   P0.19
            , <&gpio0  2 GPIO_ACTIVE_HIGH>  //L6	COL_R1	D10   P1.15
            , <&gpio0 15 GPIO_ACTIVE_HIGH>  //L7	COL_R2	D19   P1.07
            , <&gpio0  3 GPIO_ACTIVE_HIGH>  //L8	COL_R3	D9    P1.14
            , <&gpio0 19 GPIO_ACTIVE_HIGH>  //L9	COL_R4	D18   P1.05
            ;
    };

    matrix_transform0: matrix_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <10>;
        rows = <9>;      
        // |  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |           |  8 |         | |  9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 
        // | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 |                          | | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 |
        //      | 33 | 34 | 35 | 36 | 37 | 38 | 39 |      | 40 | 41 | 42 |    | | 43 | 44 | 45 | 46 | 47 | 48 | 49 |
        //      | 50 | 51 | 52 | 53 | 54 | 55 | 56 | | 57 | 58 |    | 59 | 60 | | 61 | 62 | 63 | 64 | 65 | 66 | 67 |
        //           | 68 | 69 | 70 | 71 | 72 | 73 | | 74 | 75 | 76 | 77 | 78 | | 79 | 80 | 81 | 82 | 83 | 84 |
        map = <
            RC(1,2) RC(2,2) RC(3,2) RC(4,2) RC(5,2) RC(6,2) RC(7,2) RC(8,2)                 RC(0,0)                 RC(8,6) RC(7,6) RC(6,6) RC(5,6) RC(4,6) RC(3,6) RC(2,6) RC(1,6) 
            RC(0,2) RC(2,3) RC(3,3) RC(4,3) RC(5,3) RC(6,3) RC(7,3) RC(8,3)                                         RC(8,7) RC(7,7) RC(6,7) RC(5,7) RC(4,7) RC(3,7) RC(2,7) RC(0,6) 
                    RC(1,3) RC(3,4) RC(4,4) RC(5,4) RC(6,4) RC(7,4) RC(8,4)         RC(7,0) RC(4,0) RC(3,0)         RC(8,8) RC(7,8) RC(6,8) RC(5,8) RC(4,8) RC(3,8) RC(1,7)
                    RC(0,3) RC(2,4) RC(0,5) RC(2,5) RC(4,5) RC(6,5) RC(8,5) RC(8,0) RC(6,0)         RC(5,0) RC(4,1) RC(8,9) RC(6,9) RC(4,9) RC(2,9) RC(0,9) RC(2,8) RC(0,7) 
                            RC(0,4) RC(1,4) RC(1,5) RC(3,5) RC(5,5) RC(7,5) RC(8,1) RC(7,1) RC(6,1) RC(5,1) RC(3,1) RC(7,9) RC(5,9) RC(3,9) RC(1,9) RC(1,8) RC(0,8)
        >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&matrix_transform0>;
        kscan = <&kscan0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 150 100    0    0     700     0     0>
            , <&key_physical_attrs 100 100  150    0     700     0     0>
            , <&key_physical_attrs 100 100  250    0     700     0     0>
            , <&key_physical_attrs 100 100  350    0     700     0     0>
            , <&key_physical_attrs 100 100  450    0     700     0     0>
            , <&key_physical_attrs 100 100  550    0     700     0     0>
            , <&key_physical_attrs 100 100  650    0     700     0     0>
            , <&key_physical_attrs 100 100  750    0     700     0     0>
            , <&key_physical_attrs 100 100  900  150       0     0     0>
            , <&key_physical_attrs 100 100 1050  225  (-700)     0     0>
            , <&key_physical_attrs 100 100 1150  225  (-700)     0     0>
            , <&key_physical_attrs 100 100 1250  225  (-700)     0     0>
            , <&key_physical_attrs 100 100 1350  225  (-700)     0     0>
            , <&key_physical_attrs 100 100 1450  225  (-700)     0     0>
            , <&key_physical_attrs 100 100 1550  225  (-700)     0     0>
            , <&key_physical_attrs 100 100 1650  225  (-700)     0     0>
            , <&key_physical_attrs 150 100 1750  225  (-700)     0     0>
            , <&key_physical_attrs 100 100   25  100     700     0     0>
            , <&key_physical_attrs 100 100  125  100     700     0     0>
            , <&key_physical_attrs 100 100  225  100     700     0     0>
            , <&key_physical_attrs 100 100  325  100     700     0     0>
            , <&key_physical_attrs 100 100  425  100     700     0     0>
            , <&key_physical_attrs 100 100  525  100     700     0     0>
            , <&key_physical_attrs 100 100  625  100     700     0     0>
            , <&key_physical_attrs 100 100  725  100     700     0     0>
            , <&key_physical_attrs 100 100 1075  325  (-700)     0     0>
            , <&key_physical_attrs 100 100 1175  325  (-700)     0     0>
            , <&key_physical_attrs 100 100 1275  325  (-700)     0     0>
            , <&key_physical_attrs 100 100 1375  325  (-700)     0     0>
            , <&key_physical_attrs 100 100 1475  325  (-700)     0     0>
            , <&key_physical_attrs 100 100 1575  325  (-700)     0     0>
            , <&key_physical_attrs 100 100 1675  325  (-700)     0     0>
            , <&key_physical_attrs 100 100 1775  325  (-700)     0     0>
            , <&key_physical_attrs 150 100   50  200     700     0     0>
            , <&key_physical_attrs 100 100  200  200     700     0     0>
            , <&key_physical_attrs 100 100  300  200     700     0     0>
            , <&key_physical_attrs 100 100  400  200     700     0     0>
            , <&key_physical_attrs 100 100  500  200     700     0     0>
            , <&key_physical_attrs 100 100  600  200     700     0     0>
            , <&key_physical_attrs 100 100  700  200     700     0     0>
            , <&key_physical_attrs 100 100  800  300       0     0     0>
            , <&key_physical_attrs 125 100  900  300       0     0     0>
            , <&key_physical_attrs 100 100 1025  300       0     0     0>
            , <&key_physical_attrs 100 100 1100  425  (-700)     0     0>
            , <&key_physical_attrs 100 100 1200  425  (-700)     0     0>
            , <&key_physical_attrs 100 100 1300  425  (-700)     0     0>
            , <&key_physical_attrs 100 100 1400  425  (-700)     0     0>
            , <&key_physical_attrs 100 100 1500  425  (-700)     0     0>
            , <&key_physical_attrs 100 100 1600  425  (-700)     0     0>
            , <&key_physical_attrs 150 100 1700  425  (-700)     0     0>
            , <&key_physical_attrs 125 100   50  300     700     0     0>
            , <&key_physical_attrs 100 100  175  300     700     0     0>
            , <&key_physical_attrs 100 100  275  300     700     0     0>
            , <&key_physical_attrs 100 100  375  300     700     0     0>
            , <&key_physical_attrs 100 100  475  300     700     0     0>
            , <&key_physical_attrs 100 100  575  300     700     0     0>
            , <&key_physical_attrs 100 100  675  300     700     0     0>
            , <&key_physical_attrs 100 100  760  400       0     0     0>
            , <&key_physical_attrs 100 100  860  400       0     0     0>
            , <&key_physical_attrs 100 100  960  400       0     0     0>
            , <&key_physical_attrs 100 100 1060  400       0     0     0>
            , <&key_physical_attrs 100 100 1125  525  (-700)     0     0>
            , <&key_physical_attrs 100 100 1225  525  (-700)     0     0>
            , <&key_physical_attrs 100 100 1325  525  (-700)     0     0>
            , <&key_physical_attrs 100 100 1425  525  (-700)     0     0>
            , <&key_physical_attrs 100 100 1525  525  (-700)     0     0>
            , <&key_physical_attrs 100 100 1625  525  (-700)     0     0>
            , <&key_physical_attrs 125 100 1725  525  (-700)     0     0>
            , <&key_physical_attrs 150 100   75  400     700     0     0>
            , <&key_physical_attrs 100 100  225  400     700     0     0>
            , <&key_physical_attrs 100 100  325  400     700     0     0>
            , <&key_physical_attrs 100 100  425  400     700     0     0>
            , <&key_physical_attrs 100 100  525  400     700     0     0>
            , <&key_physical_attrs 125 100  625  400     700     0     0>
            , <&key_physical_attrs 100 100  708  500       0     0     0>
            , <&key_physical_attrs 100 100  807  500       0     0     0>
            , <&key_physical_attrs 100 100  907  500       0     0     0>
            , <&key_physical_attrs 100 100 1007  500       0     0     0>
            , <&key_physical_attrs 100 100 1108  500       0     0     0>
            , <&key_physical_attrs 125 100 1150  625  (-700)     0     0>
            , <&key_physical_attrs 100 100 1275  625  (-700)     0     0>
            , <&key_physical_attrs 100 100 1375  625  (-700)     0     0>
            , <&key_physical_attrs 100 100 1475  625  (-700)     0     0>
            , <&key_physical_attrs 100 100 1575  625  (-700)     0     0>
            , <&key_physical_attrs 150 100 1675  625  (-700)     0     0>
            ;

        underglow-logical-layout {
            compatible = "zmk,underglow-logical-layout";
            
            // keys = <...> の並び順（40番から順番）に対して、何番目のLED（インデックス）かを対応させます
            // 40番のキー ＝ インデックス2（3番目のLED）
            // 41番のキー ＝ インデックス1（2番目のLED）
            // 42番のキー ＝ インデックス0（1番目のLED）
            // 57番〜60番 ＝ インデックス3, 4, 5, 6
            // (ここで 7, 8 番目のアンダーグローLEDをスキップ！)
            // 74番〜78番 ＝ インデックス13, 12, 11, 10, 9（逆順配線に対応）
            
            led-indices = <
                84  84  84  84  84  84  84  84          84           84  84  84  84  84  84  84  84  
                84  84  84  84  84  84  84  84                       84  84  84  84  84  84  84  84 
                    84  84  84  84  84  84  84       2   1   0       84  84  84  84  84  84  84
                    84  84  84  84  84  84  84   3   4       5   6   84  84  84  84  84  84  84
                        84  84  84  84  84  84  11  10   9   8   7   84  84  84  84  84  84
            >;
        };
    };

    //gpio_ledsの定義
    //ライブラリが探せるように「ニックネーム（エイリアス）」を登録します
    aliases {
        led-red = &led_red_node;
        led-green = &led_green_node;
        led-blue = &led_blue_node;
    };

    //XIAOのLEDピンの定義本体です（名前をエイリアスと紐付けました）
    leds {
        compatible = "gpio-leds";
        led_red_node: led_0 {
            gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
        };
        led_green_node: led_1 {
            gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
        };
        led_blue_node: led_2 {
            gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
        };
    };
};



// &pinctrl のようなアンプサンド（&）が付いた記述は、すでに別のファイルで定義されているノードを「上書き・追加（リファレンス）」するための構文です。
// これは必ずルートノード（/ { ... };）の外に記述しなければなりません。
// 2. P1.10ピンをSPIのデータ出力ピン（MOSI）に指定
&pinctrl {
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 1, 10)>;
        };
    };
};

// 3. SPI通信を使ってSK6812MINI-Eを制御する設定
&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-names = "default";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <12>; // 12個に正しく設定されています
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};
&pinctrl {
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 1, 10)>;
        };
    };
};
