#include <behaviors.dtsi>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings =
                <&kp Q &kp W>,
                <&kp A &kp S>,
                <&kp Z &kp X>,
                <&kp C &kp V>,
                <&kp B &kp N>,
                <&kp M &kp ENTER>;
        };
    };
};
