#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <behaviors/rgbled_widget.dtsi>  //キースイッチバッテリーウィジット
#include <dt-bindings/zmk/rgb.h>         //LEDキースイッチ制御

/ {
   keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";

        // |  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |           |  8 |         | |  9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 
        // | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 |                          | | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 |
        //      | 33 | 34 | 35 | 36 | 37 | 38 | 39 |      | 40 | 41 | 42 |    | | 43 | 44 | 45 | 46 | 47 | 48 | 49 |
        //      | 50 | 51 | 52 | 53 | 54 | 55 | 56 | | 57 | 58 |    | 59 | 60 | | 61 | 62 | 63 | 64 | 65 | 66 | 67 |
        //           | 68 | 69 | 70 | 71 | 72 | 73 | | 74 | 75 | 76 | 77 | 78 | | 79 | 80 | 81 | 82 | 83 | 84 |

        bindings = <
            &none   &none   &none   &none   &none   &none   &none   &none                                    &none                                       &none   &none   &none   &none  &none   &none   &none   &none  
            &none   &none   &none   &none   &none   &none   &none   &none                                                                                &none   &none   &none   &none  &none   &none   &none   &none 
                    &none   &none   &none   &none   &none   &none   &none                   &kp N1           &kp N2           &kp N3                     &none   &none   &none   &none  &none   &none   &none
                    &none   &none   &none   &none   &none   &none   &none  &kp N4           &kp N5           &kp N6           &kp N7                     &none   &none   &none   &none  &none   &none   &none
                            &none   &none   &none   &none   &none   &none  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &rgb_ug RGB_TOG  &rgb_ug RGB_EFR  &ind_bat  &none   &none   &none   &none  &none   &none
            >;
        };
    };
};
