#include <dt-bindings/zmk/modifiers.h>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors/rgbled_widget.dtsi>  //キースイッチバッテリーウィジット
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        // 通常時は「?」、Shift時は「!」

        mo_slex: slash_exclamation {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(SLASH)>, <&kp LS(NUMBER_1)>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // 通常時は「-」、Shift時は「~」

        mo_miti: minus_tilde {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp LS(EQUAL)>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mo_at_equal: mo_at_equal {
            compatible = "zmk,behavior-mod-morph";
            label = "@";
            bindings = <&kp LBKT>, <&kp LS(MINUS)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            display-name = "Base";
            bindings = <
&kp ESCAPE  &kp GRAVE       &none      &kp N1        &kp N2        &kp N3   &kp N4    &kp N5                                  &none                               &kp N6     &kp N7          &kp N8       &kp N9    &kp N0            &kp MINUS       &kp EQUAL        &kp DELETE
&kp F2      &none           &none      &kp Q         &kp W         &kp E    &kp R     &kp T                                                                       &kp Y      &kp U           &kp I        &kp O     &kp LEFT_BRACKET  &kp APOSTROPHE  &kp RBKT         &kp BSLH
            &kp TAB         &mo_miti   &kp A         &kp S         &kp D    &kp F     &kp G          &kp LSHFT                &kp UP               &kp RSHFT      &kp H      &kp J           &kp K        &kp L     &kp P             &kp SEMICOLON   &kp ENTER
            &kp LEFT_SHIFT  &kp SLASH  &kp Z         &kp X         &kp C    &kp V     &kp B          &kp BACKSPACE  &kp LEFT            &kp RIGHT  &kp BACKSPACE  &kp N      &kp M           &kp COMMA    &kp DOT   &mo_slex          &kp INT_RO      &kp RIGHT_SHIFT
                            &kp LCTRL  &kp LEFT_GUI  &kp LEFT_ALT  &kp INS  &kp INT5  &kp BACKSPACE  &kp ENTER      &mo 1     &kp DOWN  &mo 2      &kp ENTER      &kp SPACE  &kp INT_HENKAN  &kp INT_YEN  &kp RALT  &kp K_APP         &kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        layer_1 {
            bindings = <
&none  &none     &none            &kp F1           &kp F2           &kp F3               &kp F4           &kp F5                   &none                          &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11      &kp F12  &none
&none  &none     &none            &none            &none            &none                &none            &none                                                   &none   &none   &none   &none   &none    &none        &none    &none
       &kp CAPS  &none            &none            &none            &none                &none            &none   &none            &kp PAGE_UP             &none  &none   &none   &none   &none   &none    &none        &none
       &none     &rgb_ug RGB_TOG  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_EFR      &rgb_ug RGB_EFF  &none   &none  &kp HOME                 &kp END  &none  &none   &none   &none   &none   &none    &none        &none
                 &none            &none            &none            &kp LA(PRINTSCREEN)  &none            &none   &none  &none     &kp PAGE_DOWN  &none    &none  &none   &none   &none   &none   &none    &bootloader
            >;
        };

        layer_2 {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none                &none                        &tog 2  &kp KP_SLASH  &kp KP_ASTERISK  &kp KP_MINUS  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none                                             &kp N7  &kp N8        &kp N9           &kp KP_PLUS   &none  &none  &none  &none
       &none  &none  &none  &none  &none  &none  &none  &none         &none         &none          &kp N4  &kp N5        &kp N6           &kp KP_ENTER  &none  &none  &none
       &none  &none  &none  &none  &none  &none  &none  &none  &none         &none  &kp BACKSPACE  &kp N1  &kp N2        &kp N3           &kp SPACE     &none  &none  &none
              &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &kp ENTER      &kp N0  &kp KP_DOT    &kp COMMA        &kp UNDER     &none  &none
            >;
        };
    };
};
